<!DOCTYPE html>
<html ng-app>
<head>
    <title>Login App</title>

    <link rel="stylesheet" href="/css/bootstrap.css" />
    <link rel="stylesheet" href="/css/style.css" />

    <script src="js/jquery-2.0.3.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.3/angular.min.js"></script>

</head>
<body>

    <div class="container">
        <img src="/images/main/splash.png" alt="rideShare" class="img-responsive center-block">
    </div> <!-- /container -->

    <script>setTimeout(function(){window.location.href="/users/login"},2000);</script>

</body>
</html>